flow/flows (3).json
[{"id":"87d665a7.131868","type":"telegram command","z":"64e64ecf.364f9","name":"","command":"/order","bot":"a5d82bdb.ac90b8","strict":false,"x":70,"y":580,"wires":[["c2ff7d5e.899b1"],[]]},{"id":"c2ff7d5e.899b1","type":"function","z":"64e64ecf.364f9","name":"","func":"flow.set(\"twoclass\",false)\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":580,"wires":[["5a91513d.61d9c"]]},{"id":"5a91513d.61d9c","type":"function","z":"64e64ecf.364f9","name":"Reply /order","func":"var storing = global.get(\"storing\");\nvar twoclass = flow.get('twoclass')\nif(twoclass){ //Check if it it from order2\n    var chatid = parseInt(msg.payload.chatId.toString()+'555555');\n}else{\n    var chatid = msg.payload.chatId;\n}\nvar food =\"*Please type /check first!* 😈\"\nvar texting = \"\"\nif(chatid in storing){\n    vendor = storing[chatid][0]\n    special = storing[chatid][8]\n    if(special){ //For Set Meals like Hokey\n        texting = \"Looks like you are ready to order some food! 🍕 \\n\\r\\nPlease *REPLY TO THIS MSG* using the following format:\\r\\n_<Set 1 count>,<Set 4 count>,...,<Remarks>_\\r\\n\\r\\nExample: Set 3: 25,Set 4: 23,Set 6: 2,Hello!\\r\\n\";\n        food = \"\"\n    }else{\n        texting = \"Looks like you are ready to order some food! 🍕 \\n\\r\\nPlease *REPLY TO THIS MSG* using the following format:\\r\\n_<Food 1 count>,<Food 2 count>,...,<Remarks>_\\r\\n\\r\\nExample: 20,25,0,2,Nothing!\\r\\n\";\n        food = \"\\r\\nOrder from the choices below:\" \n        food +=  storing[chatid][4]\n        \n    }\n    food = texting + food +\"\\r\\n\\r\\nTap or Hold this msg to reply it. 👆\\r\\nIf I reply a sticker, it means you are good to go!\"\n}\nmsg.payload.type = \"message\";\nmsg.payload.content = food\nmsg.payload.options = {parse_mode: \"Markdown\",reply_to_message_id : msg.payload.messageId}\n\nreturn [msg];","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["4fe13925.fce4d8"]]},{"id":"4fe13925.fce4d8","type":"telegram sender","z":"64e64ecf.364f9","name":"","bot":"a5d82bdb.ac90b8","x":500,"y":580,"wires":[["d8b27f9b.ab87d"]]},{"id":"d8b27f9b.ab87d","type":"telegram reply","z":"64e64ecf.364f9","name":"","bot":"a5d82bdb.ac90b8","x":700,"y":580,"wires":[["c3eb34a9.ac87d8"]]},{"id":"921e0d2e.2b44f","type":"debug","z":"64e64ecf.364f9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":640,"wires":[]},{"id":"83f56f31.d45dc","type":"telegram sender","z":"64e64ecf.364f9","name":"","bot":"a5d82bdb.ac90b8","x":440,"y":640,"wires":[[]]},{"id":"c3eb34a9.ac87d8","type":"function","z":"64e64ecf.364f9","name":"Sticker","func":"var stickerpack = global.get(\"stickerpack\");\n\nvar rand = stickerpack[Math.floor(Math.random() * stickerpack.length)];\n\nmsg.payload.content = rand;\nmsg.payload.type = 'sticker';\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":640,"wires":[["83f56f31.d45dc","8b66b3bb.3e9a4"]]},{"id":"8b66b3bb.3e9a4","type":"delay","z":"64e64ecf.364f9","name":"","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":90,"y":700,"wires":[["b07cc7b5.675528"]]},{"id":"b07cc7b5.675528","type":"function","z":"64e64ecf.364f9","name":"Handle User Changes","func":"// Get the user settings stored in global\n//var moment = require('moment@2.24.0')\nvar moment = global.get('moment')\nvar telegramusers = global.get(\"telegramusers\");\nvar orderlist = global.get(\"orderlist\");\nvar storing = global.get(\"storing\");\nvar orichatid = msg.payload.chatId\nvar twoclass = flow.get(\"twoclass\")\nif(twoclass===true){ //Check if it it from order2\n    var chatid = parseInt(msg.payload.chatId.toString()+'555555');\n}else{\n    var chatid = msg.payload.chatId;\n}\n// return the user list to display in the UI and store in a local file\nfor (var i = 0; i < telegramusers.length; i++) {\n        if (telegramusers[i].chatId === chatid) {\n            username = telegramusers[i].name;\n            taclass = telegramusers[i].classid;\n        }\n}\nvar vendorname;\nvar other;\nvar vege;\nvar fooddate;\nvar tacount;\nvar momentnow = moment().add(8,'hour').format('D MMM YY, h:mma');\nif(chatid in storing){\n    vendorname =  storing[chatid][0]\n    other =  storing[chatid][2]\n    vege = storing[chatid][3]\n    fooddate =  storing[chatid][1]\n    fooditem =  storing[chatid][4]\n    tacount =  storing[chatid][5]\n    url = storing[chatid][6]\n    itemnamelist = storing[chatid][7]\n    special = storing[chatid][8]\n    finallessonno = storing[chatid][9] //Due to Odd-timing classes, some lesson no is diff, eg CS101\n    totalcount = storing[chatid][10]\n}\nvar comments = msg.originalMessage.text\nvar computedcomment = \"\"\narraycomments = comments.split(',')\nif(special){ //As it is a special menu, cant reflect full menu items\n    computedcomment = comments //To be thrown in the table\n    computedcomment2 = \"*You have ordered:* \\r\\n\"\n    for (var p = 0; p < arraycomments.length; p++){ //Format comments nicely\n            computedcomment2 += arraycomments[p] + \"\\r\\n\"\n    }\n}else{\n    if(arraycomments.length == itemnamelist.length+1){  //Pair menu item and comment with remarks\n      for (var k = 0; k < arraycomments.length; k++) { \n          if(k==arraycomments.length-1){\n              computedcomment += \"Remarks: \" + arraycomments[k] +'\\r\\n'\n          }else{\n              computedcomment += itemnamelist[k]+\": \"+arraycomments[k] +'\\r\\n'\n          }\n      }    \n    }else if(arraycomments.length == itemnamelist.length){      //Pair menu item and comment\n        for (var k = 0; k < arraycomments.length; k++) {\n            computedcomment += itemnamelist[k]+\": \"+arraycomments[k]+'\\r\\n'\n        }\n    }\n    if(computedcomment !== \"\"){ //Cus too many or too little commas, wrong format\n        computedcomment2 = \"*You have ordered:* 🍴\\r\\n\"+computedcomment\n    }else{\n        computedcomment2 = \"Hmmm, looks like you ordered in the wrong format, but that's okay! @choopatroopa will find you if he's unsure!\"\n        computedcomment = comments\n    \n    }\n\n}\n\n\nvar newuser = {\n    username: username,\n    class: taclass,\n    lesson: finallessonno,\n    vendor : vendorname,\n    total : totalcount,\n    ta: tacount,\n    comment: computedcomment,\n    fooditems : fooditem,\n    actualfooddate : fooddate,\n    timeordered : momentnow,\n    link : url\n    \n}; \n\norderlist.push(newuser);\nglobal.set(\"orderlist\",orderlist);\n\nmsg.payload = {userlist : orderlist};\n\n\nmsg.payload.chatId = orichatid\nmsg.payload.type = \"message\"\nmsg.payload.content =  computedcomment2\nmsg.payload.options = {parse_mode: \"Markdown\"}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":720,"wires":[["83f56f31.d45dc","4c6abe2d.6bdb6"]]},{"id":"4c6abe2d.6bdb6","type":"function","z":"64e64ecf.364f9","name":"","func":"// Remove before going into the order.json\n\ndelete msg.payload.chatId;\ndelete msg.payload.type;\ndelete msg.payload.content;\ndelete msg.payload.options;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["921e0d2e.2b44f","9e182bbc.6e87e8","795e4057.cae7c"]]},{"id":"9e182bbc.6e87e8","type":"json","z":"64e64ecf.364f9","name":"","property":"payload","action":"","pretty":false,"x":650,"y":700,"wires":[["cce461a2.45739"]]},{"id":"795e4057.cae7c","type":"template","z":"64e64ecf.364f9","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<table class=\"table table-sm table-hover table-striped table-responsive\">\n    <a href=\"https://mp.caterspot.com/meal_plans?action=show&controller=apps\" target=\"_blank\"class=\"btn btn-success\" role=\"button\">Caterspot</a>\n    <tr><th>No.</th><th>Name</th><th>   Class   </th><th>Food Date</th><th>Lesson</th><th>Total</th><th>TA</th><th>Comment</th><th>Link</th><th>Ordered Time</th></tr>\n            \n    {{#payload.userlist}}\n\n        <tr class=''>\n            <td class=\"count\"></td>\n            <td>{{username}}</td>\n            <td style=\"font-size: 10px;\">{{class}}</td>\n            <td style=\"font-size: 10px;\">{{actualfooddate}}</td>\n            <td align=\"center\">{{lesson}}</td>\n            <td align=\"center\">{{total}}</td>\n            <td align=\"center\">{{ta}}</td>\n            <td style=\"font-size: 10px;\"><pre>{{comment}}</pre></td>\n            <td style=\"text-align:center\"><a href={{link}} target=\"_blank\"class=\"btn btn-outline-primary\" role=\"button\">{{vendor}}</a></td>\n            <td><pre>{{timeordered}}</pre></td>\n            \n        </tr>\n        \n        \n    {{/payload.userlist}}\n       \n \n</table>","output":"str","x":640,"y":740,"wires":[["9148b64a.545238"]]},{"id":"cce461a2.45739","type":"file","z":"64e64ecf.364f9","name":"Write to Order.json","filename":"./data/order.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":850,"y":700,"wires":[[]]},{"id":"9148b64a.545238","type":"ui_template","z":"64e64ecf.364f9","group":"958f70b8.69b56","name":"Order List","order":1,"width":"25","height":"50","format":"<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n<script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\" integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\" crossorigin=\"anonymous\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\" integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\" crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\" integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\" crossorigin=\"anonymous\"></script>\n\n<style>\ntable{\n  counter-reset: section;\n}\n.count:before {\n  counter-increment: section;\n  content: counter(section);\n}\n</style>\n<div ng-bind-html=\"msg.payload\" height=\"250\" style=\"height: 250px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":740,"wires":[[]]},{"id":"1415b298.028abd","type":"function","z":"64e64ecf.364f9","name":"Setting Global Variable: orderlist","func":"var lesson = global.get(\"lesson\");\nvar orderlist = msg.payload.userlist;\nvar neworderlist = []\nfor (var u = 0; u < msg.payload.userlist.length; u++){\n if(orderlist[u]['lesson']==lesson){\n     neworderlist.push(orderlist[u])\n }   \n}\nmsg.payload.userlist = neworderlist\n\nglobal.set(\"orderlist\",neworderlist); //Only orders pertaining to current lesson\nglobal.set(\"allorderlist\",orderlist); //To Retain the Older Orders\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["795e4057.cae7c"]]},{"id":"794c60f0.2201f","type":"json","z":"64e64ecf.364f9","name":"","property":"payload","action":"","pretty":false,"x":490,"y":780,"wires":[["1415b298.028abd"]]},{"id":"9fc976f0.202038","type":"file in","z":"64e64ecf.364f9","name":"Orderlist.json","filename":"./data/order.json","format":"utf8","sendError":true,"x":330,"y":780,"wires":[["794c60f0.2201f"]]},{"id":"26d2ad81.88bf02","type":"inject","z":"64e64ecf.364f9","name":"Initialize Orderlist.json","topic":"","payload":"","payloadType":"date","repeat":"21600","crontab":"","once":true,"onceDelay":"7","x":140,"y":780,"wires":[["9fc976f0.202038"]]},{"id":"a5d82bdb.ac90b8","type":"telegram bot","z":"","botname":"hwabot","usernames":"choopatroopa,vinnnnnnnnnnn,yrworstnightmare,terencetankx,jaclynlam,t3dted,veralolol,ngohngoh,kohzx,smurfiq,jingyingx,beatsugarbutterflourNbakeat190c,njunxuan,kongyujie,iamgabrieltan,guangjie96,kynkong,ckarsen,victortangggg,Xiangqian,Kwtam,bryanzxc,Dionawx,ianlamze,qilingsoh,DarrenAndyTan,Wei_yuan,kaiyanghuan,jeraldgan,MingyiTeh","chatids":"-1001398059105","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"958f70b8.69b56","type":"ui_group","z":"","name":"Order List","tab":"cfbbe1c3.5093f","disp":false,"width":"25","collapse":false},{"id":"cfbbe1c3.5093f","type":"ui_tab","z":"","name":"Order List","icon":"message","order":1,"disabled":false,"hidden":false}]